[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fgeo"]
	path = fgeo
	url = https://github.com/forestgeo/fgeo
[submodule "fgeo.analyze"]
	path = fgeo.analyze
	url = https://github.com/forestgeo/fgeo.analyze
[submodule "fgeo.plot"]
	path = fgeo.plot
	url = https://github.com/forestgeo/fgeo.plot
[submodule "fgeo.tool"]
	path = fgeo.tool
	url = https://github.com/forestgeo/fgeo.tool
[submodule "fgeo.x"]
	path = fgeo.x
	url = https://github.com/forestgeo/fgeo.x
